* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #C3E8CC;
    color: #416275;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.nav {
    background-color: #416275;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #89A4AB;
}

.nav li:hover {
    background-color: #ACBFC2;
}

.container {
    margin: 1rem;
    text-align: center;
}

.home-name {
    margin-top: 15%;
}

.home-name h1 {
    margin: 0;
}

.profile {
    margin-top: 5%;
    width: 20rem;
    border-radius: 50%;
    box-shadow: 0px 3px 3px rgb(141, 141, 141);
}

.form-info {
    font-family: inherit;
    margin: 1rem;
    height: 2rem;
    width: 20rem;
    font-size: 1rem;
    padding: .5rem;
    border-style: inherit;
    border-radius: 25px;
    box-shadow: 0px 2px 2px rgb(207, 207, 207);
}

.form-message {
    font-family: inherit;
    margin: 1rem;
    height: 15rem;
    width: 20rem;
    font-size: 1rem;
    padding: .5rem; 
    border-style: inherit;
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgb(207, 207, 207);
}

.btn {
    font-family: inherit;
    font-size: 1.5rem;
    background-color: white;
    color: #416275;
    border: none;
    padding: .5rem;
    border-style: solid;
    border-color: #416275;
    border-radius: 25px;
}

.btn:hover {
    background-color: #416275;
    color: white;
    transition: 0.75s;
}